# Core Packages
Django
djangorestframework
django-cors-headers
django-admin-interface
django-maintenance-mode
drf-yasg2
mysqlclient

# Image Library
Pillow

# Coding Standards
black
flake8
isort
djlint

# Server
gunicorn

# Testing
coverage
pytest-django
parameterized

# Loggers
ipython
django-debug-toolbar
django-extensions
sentry-sdk

# Utilities
colorlog
python-decouple
